[Desktop Entry]
Type=Application
Name=The Dude
Comment=MikroTik The Dude network monitoring client
Exec=/usr/bin/thedude
Icon=/usr/share/pixmaps/thedude.png
Terminal=false
Categories=Utility
StartupWMClass=dude.exe
